footer {
    background: #45a4ba;
    color: #040000;
    padding: 10px 20px;
    text-align: center;
}

footer nav {
    margin-top: 10px;
}

footer nav a {
    text-decoration: none;
    color: #040000;
    margin: 0 10px;
    font-size: 0.9em;
}
